@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@*@Html.ActionLink("取得目前時間", "GetTime")*@

@Ajax.ActionLink("取得目前時間", "GetTime", new AjaxOptions() { UpdateTargetId="mytime" })

<p id="mytime">

</p>
