@foreach (int i in ViewBag.Array)
{
    @(i+" ")
}

@foreach (int i in ViewBag.Array)
{
    @i<text> </text>}

@foreach (int i in ViewBag.Array)
{
    @i
}

<ul>
@foreach (int i in ViewBag.Array)
{
  <li>@i</li>
}
</ul>
