
@{
    ViewBag.Title = "SimpleBindingForm";
}

<h2>SimpleBindingForm</h2>

<form action="/Home/SimpleBinding3" method="post">
    Name: <input type="text" name="name" value=" " /><br />
    Tel: <input type="text" name="tel" value=" " /><br />
    <input type="submit" value="Save" />
</form>